p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.title{
  color: #f48e29;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  color: #f48e29;
}